#custom-footer-full{
    margin-top: 50px;
}

/* Main footer */
.custom-footer-container {
    background: rgba(43, 51, 58, 0.64);
}

.custom-no-bullet{
    list-style-type: none;
}

.custom-nav-heading{
    color: rgba(255,255,255,.7);
    font-family: arial,verdana,helvetica,sans-serif;
}

.nav-link{
    color: #24a0ed;
}

.nav-link:hover,
.nav-link:focus{
    color: #24a0ed;
}

#reddit-gold{
    color: #9A7D2E;
}

/* Disclaimer */
#footer-disclaimer{
    color: grey;
}
