.custom-header-full{
    overflow: hidden;
}

/* Image background */
#header-bg-background{
    position:absolute;
    top:0;
}

/* Top */
.custom-top-header-container{
    background: rgba(0,0,0,0.7);
    position:absolute;
    top:0;
    width: 100%;
    z-index: 1;
}
.custom-header-links{
    font-size: 1.3ex;
    color: rgba(255, 255, 255, 0.7);
}
.custom-header-text{
    font-size: 1.3ex;
    color: rgba(255, 255, 255, 0.7);
}
.custom-header-links:hover{
    color: white !important;
}
.custom-header-links:focus{
    color: white;
}
.custom-header-right{
    float: right;
}

#login-signup{
    color: white;
}

.tools-icon{
    background: transparent;
    border-color: transparent;
}

/* Center */
.custom-center-header-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 20px;

    display: flex;
    align-items:center;
}

#header-reddit-logo{
    height: 42px;
    width: auto;
    vertical-align: middle;
}

#javascript-text{
    color: white;;
    font-size: 3.6em;
}
#javascript-text:hover{
    color: white;
}

/* Bottom */
.custom-bottom-header-container{    
    background: rgba(0,0,0,0.7);
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.custom-bottom-text{
    color: rgba(255, 255, 255, 0.7);
}

.custom-bottom-text:hover,
.custom-bottom-text:focus
{
    color: white !important;
    background: transparent !important;
    border-color: transparent !important;
}

.custom-bottom-header-container > .nav-tabs > li.active > a,
.custom-bottom-header-container > .nav-tabs > li.active > a:hover,
.custom-bottom-header-container > .nav-tabs > li.active > a:focus{
    background-color: transparent;
    border-color: transparent; 
    color: white;
    cursor: pointer;
} 