.custom-top-header-container{
    background: rgba(0,0,0,0.7);
    margin: 0px;
    position:absolute;
    top:0;
    width: 100%;
    z-index: 1;
}
.custom-header-links{
    font-size: 1.2ex;
    color: rgba(255, 255, 255, 0.7);
}
.custom-header-text{
    font-size: 1.2ex;
    color: rgba(255, 255, 255, 0.7);
}
.custom-header-links:hover{
    color: white !important;
}
.custom-header-links:focus{
    color: white;
}
.custom-header-right{
    float: right;
}

#login-signup{
    color: white;
}

.tools-icon{
    background: transparent;
    border-color: transparent;
}

#header-bg-background{
    position:absolute;
    top:0;
}

.center-header-logo{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 20px;

    display: flex;
    align-items:center;
}

#header-reddit-logo{
    height: 42px;
    width: auto;
    vertical-align: middle;
}

#javascript-text{
    color: white;;
    font-size: 3.6em;
}
#javascript-text:hover{
    color: white;
}