#custom-outside-container{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    /* for filling up space and providing sticky footer */
    flex: 1 0 auto;
}

.custom-cards{
    padding: 20px;
    background: white;
}

/* Like/Dislike */
.custom-like-dislike{
    text-align: center;
    float: left;
    width: 50px;
}

.custom-like-button{
    color: #888;
    font-weight: bold;
    background: transparent;
}
.custom-like-button:hover{
    background: #ddd;
}

.custom-dislike-button{
    color: #bbb;
    font-weight: bold;
    background: transparent;
}
.custom-dislike-button:hover{
    background: #eeeeeeaa;
}

.custom-score-text{
    color: #aaa;
    font-weight: bold;
    font-size: 1.2em;
}

/* details */
.custom-details{
    margin-left: 100px;
    font-family: Lato,Arial,sans-serif
}

.custom-row1 p{
    margin: 0px;
}

.custom-title{
    color: #24a0ed;
    font-weight: bolder;
    font-size: 2em;
    padding-right: 8px;
}

.custom-title a{
    text-decoration: none;
}

.custom-link-flair-text{
    background: #738491;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.4em;
}

.custom-domain{
    color: #999;
    padding-left: 8px; 
}

.custom-row2{
    display: flex;
    align-content: flex-end;
}

.custom-self-text button:hover{
    background-color: #24a0ed99;
}

.custom-row2 p{
    margin: 0px;
}

.custom-created-utc{
    color: #999;
    margin-left: 8px;    
}

.custom-author{

}

.custom-author-flair-text{
    color: #999;    
}

.custom-row3{
    margin-top: 12px;
}
 
.custom-row3 ul{
    padding-left: 0px;
}

.custom-row3 ul li{
    display: inline;
    padding: 4px;
}

.custom-num-comments{
    color: #24a0ed;
    font-weight: bolder;
    cursor: pointer;
}

.custom-num-comments a{
    text-decoration: none;    
}

.custom-share{
    color: #999;
    font-weight: bold;
    cursor: pointer;
}

.custom-save{
    font-weight: bold;
    color: #999;
    cursor: pointer;    
}

.custom-hide{
    font-weight: bold;
    color: #999;    
    cursor: pointer;
}

.custom-report{
    font-weight: bold;
    color: #999;    
    cursor: pointer;
}